<!-- <p>apple-page works!</p> -->
<!-- <p>apple proximamente!</p> -->

<div class="card p-3">
    <div class="flex flex-wrap align-items-center justify-content-center card-container">
      
        <div class="surface-overlay border-round   min-h-full shadow-1 p-5 py-0 m-3">
            <h2 class="title">¡Aprovecha nuestras promociones, en todos los productos Apple!</h2>
        </div>
    </div>
</div>

<div class="grid p-5">
    <div class="col-12 md:col-6 lg:col-4 ">

        <p-card header="iPhone 14 " subheader="15% de descuento" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <iframe width="360" height="315" src="https://www.youtube.com/embed/Uhfzyfe7nT0"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </ng-template>
            <p class="color">
                <b>Presentamos el iPhone 14 Pro | Apple</b>
            </p>
            <ng-template pTemplate="footer">
                <p-button class="car" label="Ver más.." icon="pi pi-plus" styleClass="p-button-info"></p-button>               
            </ng-template>
        </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="Apple Watch" subheader="20% de descuento" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <iframe width="360" height="315" src="https://www.youtube.com/embed/6JfFxTxH2Qk"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </ng-template>
            <p class="color">
                <b>Nuevo Apple Watch Series 8 | Apple</b>
            </p>
            <ng-template pTemplate="footer">
                <p-button class="car" label="Ver más.." icon="pi pi-plus" styleClass="p-button-info"></p-button>
            </ng-template>
        </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-4">
        <p-card header="iPad mini" subheader="35% de descuento" [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
                <iframe width="360" height="315" src="https://www.youtube.com/embed/_S2ZRDfVUa4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </ng-template>
            <p class="color">
                <b>Presentamos el nuevo iPad mini | Apple</b>
            </p>
            <ng-template pTemplate="footer">
                <p-button class="car" label="Ver más.." icon="pi pi-plus" styleClass="p-button-info"></p-button>
            </ng-template>
        </p-card>
    </div>

</div>

